body {
    margin: 0px;
}

.navbar li {
    padding: 0px 0px 0px 10px;
    height: 50px;
    margin: auto;
    display: block;
}

.gris {
    background-color: rgba(106, 95, 136, 0.849);
}

.top-nav-collapse {
    background-color: rgba(62, 29, 151, 0.849) !important;
}

.row {
    margin-top: 20px;
    padding: 100px 30px 100px 30px;
    width: 100%;
    margin: auto;
}


/* Center align the text within the three columns below the carousel */

#idiomas .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

#idiomas h2 {
    margin-top: 15px;
    color: gray;
}

#idiomas p {
    color: grey;
}

#idiomas img {
    width: 150px;
}


/* .servicios.col-lg-4 p {
margin-right: .75rem;
margin-left: .75rem;
} */

.m-t {
    margin-top: 80px;
}


/* fin estilo servicios */

#maestros img {
    width: 100%;
    border-radius: 5px;
}

#maestros img:hover {
    border: white;
}

#maestros p {
    color: whitesmoke;
}

.carouselExampleIndicators img {
    height: 100vh;
}

footer {
    background-color: rgba(62, 29, 151, 0.849);
}